/* .app {
	max-height: 100vh;
} */

nav {
	display: flex;
	height: calc(100vh - 92vh);
	width: 100%;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 2;
}

.navbar-active {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
	transition: all 0.3s ease-in-out;
}

li {
	list-style: none;
	padding: 10px 20px;
	margin: 0 10px;
	background-color: white;
	border-radius: 30px;
}

li .active {
	background-color: antiquewhite;
}

li:hover {
	background-color: antiquewhite;
	transition: all ease-out 0.5s;
	cursor: pointer;
}

button {
	border: none;
	background-color: #1981f8;
	border-radius: 20px;
	width: calc(100vh - 90vh);
	height: calc(100vh - 97vh);
}

button[class='primary']:hover {
	background-color: rgba(31, 128, 238, 0.333);
	transition: all ease-out 0.5s;
	cursor: pointer;
}

button .text {
	color: white;
	font-size: calc(100vh - 98vh);
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-align: center;
}

.container {
	margin: 0;
	flex: 1;
	display: flex;
	width: 100%;
	height: 150vh;
	padding-top: 30px;
	word-wrap: break-word;
	background-color: white;
}

@media screen and (max-width: 768px) {
	nav {
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		position: fixed;
		height: calc(100vh - 90vh);
		top: 91vh;
		z-index: 3;
		background-color: white;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
	}

	li {
		display: flex;
	}
}
